/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Estilos Generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

main {
    flex: 1;
    padding-bottom: 50px;
}

/* Títulos Generales */
.header-section,
.header-section h1,
.header-section h3 {
    color: var(--text-color-dark);
    margin-bottom: 10px;
}

.header-section {
    font-size: 2.5rem;
}

.header-section h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Botones */
button,
.submit-button,
.download-button,
.pricing-card button,
.cta-button {
    background-color: var(--mid-color);
    color: var(--text-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 20px auto 0;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font: inherit;
}

button:hover,
.submit-button:hover,
.download-button:hover,
.pricing-card button:hover,
.cta-button:hover {
    background-color: var(--dark-color);
}

button a,
.submit-button a,
.download-button a,
.pricing-card button a,
.cta-button a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: var(--background-light);
    color: var(--text-color-dark);
    padding: 5px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px var(--shadow-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 a {
    color: var(--text-color-dark);
    text-decoration: none;
    font-size: 24px;
}

header h1 a span {
    color: var(--mid-color);
}

/* Navegación */
nav {
    display: flex;
    align-items: center;
}

nav a,
.dropbtn {
    color: var(--text-color-dark);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button {
    margin-left: 15px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #f0f0f0;
    color: #000;
}

.nav-button.highlight {
    background-color: var(--highlight-color);
    color: #fff;
}

.nav-button.highlight:hover {
    background-color: #409c9c;
    color: #fff;
}

/* Dropdown de Header */
.dropbtn {
    background: none;
    border: 2px solid var(--dark-color);
}

.dropbtn:hover {
    background-color: var(--dark-color);
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-light);
    min-width: 160px;
    box-shadow: 0 8px 16px var(--shadow-color);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--background-mid);
}

.dropdown .show {
    display: block;
}

/* Footer */
footer {
    background-color: var(--light-color);
    color: var(--text-color-dark);
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    font-size: medium;
    margin-top: auto;
}

footer p {
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: var(--text-color-dark);
    text-decoration: underline;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: var(--mid-color);
}
