/* Títol */
.header-section {
    display: flex;
    flex-direction: column;
    text-align: left;    
    padding: 20px;
    margin: 0 auto;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    margin: 0 auto;
    max-width: 800px;
    gap: 15px; /* Espaciado entre los elementos dentro del formulario */
}

/* Estil per a les opcions addicionals */
.form-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

/* Estil de cada grup de preguntes (botons de radio) */
.form-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.form-group label {
    margin-left: 5px; /* Espaciado entre el botón de radio y la etiqueta */
}

.form-group input[type="radio"] {
    margin-right: 10px; /* Espaciado entre los radio buttons y las etiquetas */
}

/* Estil per als camps de text (textarea) */
textarea#add_prompt, textarea {
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Estil per al select */
select {
    height: 50px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estil per als enllaços */
.example-link-container {
    margin-top: 10px;
}

.example-link {
    font-size: 14px;
    color: #007BFF; /* Color blau per al enllaç */
    text-decoration: none;
    display: inline-block; /* S'assegura que es quedi en la mateixa línia */
}

.example-link:hover {
    color: #0056b3;
    text-decoration: underline; /* Subratllat al passar el cursor */
}

/* Contenidor de càrrega de fitxers */
#file-input {
    display: none; /* Oculta el input de tipus file */
}

.upload-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed var(--border-color);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--light-color);
    cursor: pointer;
}

.upload-area:hover {
    background-color: var(--light-mid-color); /* Canvia el color en hover */
}

.upload-area.file-loaded {
    border-color: var(--green-ok-dark);
    background-color: var(--green-ok-light);
}

.upload-label {
    color: var(--text-color-dark);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

/* Mostrar informació del fitxer seleccionat */
.file-info {
    margin: 0;
    font-size: 1em;
    color: var(--text-color-dark);
    text-align: center;
}

/* Estil per al missatge d'error */
.error-message {
    display: none;
    color: red;
    margin-top: 10px;
}
