/* variables.css*/
:root {
    --light-color: #d8d2f0;
    --dark-color: #2d1850;
    --mid-color: #926ae0;
    --light-mid-color: #b59fe8;
    --background-light: #ffffff;
    --background-mid: #f0f0f0;
    --background-dark: #262932;
    --text-color-light: #ffffff;
    --text-color-mid:#dfdfdf;
    --text-color-mid:#dfdfdf;
    --text-color-mid-dark: #696969;
    --text-color-dark: #262932;
    --highlight-color: #3ccfcf;
    --highlight-color-dark: #409c9c;
    --border-color: #2d1f45;
    --shadow-color: rgba(38, 30, 61, 0.1);
    --green-ok-light: #c9f3db;
    --green-ok-dark: #28a745;
}