
/* Títol */
.header-section {
    display: flex;
    flex-direction: column;
    text-align:left ;    
    padding: 20px;
    margin: 0 auto;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    margin: 0 auto;
    max-width: 800px;
}

/* Additional Options */
.form-options {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

textarea#add_prompt {
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Contenidor de càrrega de fitxers */
/* Ocultar el input de tipo file */
#file-input {
    display: none; /* Oculta el input de tipo archivo */
}

/* Mantener visible el área de carga */
.upload-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.upload-area {
    border: 2px dashed var(--border-color);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--light-color);
    position: relative;
    cursor: pointer; /* Añade un cursor de pointer para indicar que se puede hacer clic */
}

/* Personalizar la etiqueta del área de carga */
.upload-label {
    display: block;
    color: var(--text-color-dark);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Que ocupe todo el ancho del área de carga */
}

/* Hover effect for the label */
.upload-area:hover {
    background-color: var(--light-mid-color); /* Cambia el color cuando el usuario pase el cursor */
}

/* Cambiar el estilo cuando el archivo esté cargado */
.upload-area.file-loaded {
    border-color: var(--green-ok-dark);
    background-color: var(--green-ok-light);
}

/* Mostrar información del archivo seleccionado */
.file-info {
    margin-top: 10px;
    font-size: 1em;
    color: var(--text-color-dark);
}


/* Estil per al missatge d'error, si cal */
.error-message {
    display: none; /* Amaga per defecte */
    color: red;
    margin-top: 10px;
}
