{% extends 'header.html' %}

{% block content %}
<main>
    <div class="about-us-container">
        <h2>Sobre Nosotros</h2>
        <p>Bienvenido a Traductor de Documentos. Somos un equipo dedicado a ofrecer la mejor experiencia en traducción de documentos. Nuestro objetivo es proporcionar un servicio de alta calidad que facilite la comunicación global.</p>
        <p>Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nosotros.</p>
    </div>
</main>
{% endblock %}
