<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primero cargamos el archivo de variables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='variables.css') }}">
    <!-- Después el archivo principal de estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    
    <title>{% block title %}Traductor de Documents{% endblock %}</title>
    <!-- Script per a l'scroll suau -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const links = document.querySelectorAll('nav a[href^="#"], .hero-group-button a');
            links.forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });

            // Toggle dropdown menu
            const dropdown = document.querySelector('.dropdown');
            const dropdownContent = document.querySelector('.dropdown-content');
            dropdown.addEventListener('click', function() {
                dropdownContent.classList.toggle('show');
            });

            window.onclick = function(event) {
                if (!event.target.matches('.dropdown') && !event.target.matches('.dropbtn')) {
                    if (dropdownContent.classList.contains('show')) {
                        dropdownContent.classList.remove('show');
                    }
                }
            }
        });
    </script>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{{ url_for('index') }}">Documentar<span class="highlight">IA</span></a></h1>
            <nav>
                <div class="dropdown">
                    <button class="dropbtn">Serveis</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('upload_translate') }}">Traducció</a>
                        <a href="{{ url_for('upload_edit') }}">Edició de documents</a>
                        <a href="{{ url_for('upload_transcribe') }}">Transcripció de veu</a>
                        <a href="{{ url_for('upload_edit') }}">Resum de documents</a>
                        <a href="{{ url_for('upload_transcribe') }}">Prompt Analytics</a>
                    </div>                
                </div>
                <a href="#pricing" class="nav-button">Pricing</a>
                <a href="#contact" class="nav-button">Contacte</a>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>&copy; 2024 DocumentarIA: Traductor de Documents. Tots els drets reservats.</p>
        <ul>
            <li><a href="{{ url_for('privacy_policy') }}">Política de Privadesa</a></li>
            <li><a href="{{ url_for('terms_and_conditions') }}">Termes i Condicions</a></li>
        </ul>
    </footer>
</body>
</html>
