{% extends 'base.html' %}

{% block title %}Resum en curs{% endblock %}

{% block content %}
<main>
    <link rel="stylesheet" href="{{ url_for('static', filename='progress.css') }}">
    <div class="card">
        <div class="progress-container">
            <h2>Resum en curs...</h2>
            <div class="progress-circle"></div>
            <p id="status-message">Estem resumint el teu document. Pot trigar uns minuts...</p>
        </div>
    </div>

    <script>
        const filename = "{{ filename }}";
        const processType = "summary";
        const statusMessage = document.getElementById('status-message');

        function checkStatus() {
            fetch(`/check_status/${processType}/${filename}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'completed') {
                        window.location.href = `/result_${processType}/${filename}`;
                    } else {
                        setTimeout(checkStatus, 5000); // Check status every 5 seconds
                    }
                });
        }

        checkStatus();
    </script>
</main>
{% endblock %}
