{% extends 'base.html' %}
{% load static %}

{% block title %}Transcripció en curs{% endblock %}

{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'progress.css' %}">
    <div class="card">
        <div class="progress-container">
            <h2>Transcripció en curs...</h2>
            <div class="progress-circle"></div>
            <p id="status-message">Estem transcrivint el teu fitxer d'àudio. Pot trigar uns minuts...</p>
        </div>
    </div>

    <script>
        const filename = "{{ filename }}";
        const processType = "transcribe";
        const statusMessage = document.getElementById('status-message');

        function checkStatus() {
            fetch("{% url 'check_status_transcribe' filename=filename %}") // Usar el URL de Django para el estado
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'completed') {
                        window.location.href = "{% url 'result_transcribe' filename=filename %}"; // Redirigir a la página de resultados
                    } else {
                        setTimeout(checkStatus, 5000); // Comprobar el estado cada 5 segundos
                    }
                })
                .catch(error => {
                    console.error('Error fetching status:', error);
        });
}

        checkStatus();
    </script>
</main>
{% endblock %}
